{% extends 'baselogin.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

{# <div class="example-wrapper">

    <h1> Login page</h1>
    {% if error %}
    <span class="error">{{ error.messageKey }}</span>
    {% endif %}
    
    <form action="{{ path('login')}}" method="POST">
    
    <input type="text" name="_username" value="{{ last_username }}" placeholder="Username">
    <input type="password" name="_password" placeholder="Password">
    <button type="submit">Login</button>

    </form>

</div> #}

	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-b-160 p-t-50">
				<form action="{{ path('login')}}" method="POST" class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Login
					</span>
					
					<div class="wrap-input100 rs1 validate-input" data-validate = "Tapez votre Identifiant">
						<input class="input100" type="text" name="_username">
						<span class="label-input100">Identifiant</span>
					</div>
					
					
					<div class="wrap-input100 rs2 validate-input" data-validate="Tapez votre Mot de passe">
						<input class="input100" type="password" name="_password">
						<span class="label-input100">Mot de passe</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Connexion
						</button>
					</div>
					
					<div class="text-center w-full p-t-23">
						<a href="#" class="txt1">
							Mot de passe oublié?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}