{% extends 'base.html.twig' %}

{% block title %}Chargement Orders{% endblock %}

{% block body %}
  <a class="btn btn-link" href="/chrg" role="button"><img src="/img/retour.png"></a>

<div class="jumbotron">

  <h1 class=""><img src="/img/logo1.png">Chargement des données Orders</h1>
  <hr class="my-4">
  
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}

</div>

{% endblock %}