{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container">

    <h1>Bonjour 
    
    {% if app.user.sexe == "homme" %} Monsieur {% endif %}
    {% if app.user.sexe == "femme" %} Madame {% endif %}

    {{ app.user.prenom  }} {{ app.user.nom  }} 
    
    </h1>
    
</div>
{% endblock %}
